amqp==5.2.0
async-timeout==4.0.3
attrs==23.2.0
Automat==22.10.0
billiard==4.2.0
cachetools==5.3.3
celery==5.4.0
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
constantly==23.10.4
coverage==7.5.1
cryptography==42.0.7
cssselect==1.2.0
defusedxml==0.7.1
distlib==0.3.8
exceptiongroup==1.2.1
filelock==3.14.0
flake8==7.0.0
greenlet==3.0.3
hyperlink==21.0.0
idna==3.7
importlib==1.0.4
incremental==22.10.0
iniconfig==2.0.0
itemadapter==0.9.0
itemloaders==1.2.0
jmespath==1.0.1
kombu==5.3.7
lxml==5.2.2
mccabe==0.7.0
mock==5.1.0
packaging==24.0
parsel==1.9.1
platformdirs==4.2.2
pluggy==1.5.0
prompt-toolkit==3.0.43
Protego==0.3.1
psycopg2-binary==2.9.9
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycodestyle==2.11.1
pycparser==2.22
PyDispatcher==2.0.7
pyflakes==3.2.0
pyOpenSSL==24.1.0
pyproject-api==1.6.1
pytest==8.2.0
pytest-cov==5.0.0
python-dateutil==2.9.0.post0
queuelib==1.7.0
redis==5.0.4
requests==2.31.0
requests-file==2.0.0
scraperapi-sdk==1.5.1
Scrapy==2.11.2
scrapy-redis==0.7.3
service-identity==24.1.0
six==1.16.0
SQLAlchemy==2.0.30
tldextract==5.1.2
tomli==2.0.1
tox==4.15.0
Twisted==24.3.0
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
vine==5.1.0
virtualenv==20.26.2
w3lib==2.1.2
wcwidth==0.2.13
zope.interface==6.3
